/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 22, 2021, 10:05:35 AM
    Author     : sonthanhnguyen
*/
body{
    min-height: 100vh;
}

.all-books{
    flex-wrap: wrap;
    row-gap: 20px;

}

.book{
    height: 481px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    border: solid black 1px;
}

.book:hover{
    border: solid blue 2px;
}
a, a:hover{
    text-decoration: none;
}
.search-form{
    padding: 20px;
}

